header {
    width: 100%;
    background-color: #DB8400;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    justify-content: space-between;
    z-index: 3;
}

.site-logo,
.navigation,
header,
.body-content,
.products,
.product-1,
.product-2,
.product-3 {
    display: flex;
}

.navigation {
    align-items: center;
}

.navigation li {
    display: inline-block;
    padding: 50px;
    font-family: "Libre Baskerville", sans-serif;
    color: #597F9C;
    font-size: 20px;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../images/pexels-marko-obrvan-306344.jpg");
    background-size: cover;
}

p,
h3 {
    color: aliceblue;
}

h3 {
    font-family: "Roboto Light", sans-serif
}

p {
    font-family: "Musica", sans-serif;
    text-align: justify-all;
}

.body-content {
    flex-direction: column;
    align-items: center;
    margin: 100px 50px;
    padding: 0 50px;
}

.main-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#content-pic {
    width: 100%;
    position: absolute;
}

.product-1,
.product-2,
.product-3 {
    background-color: #877458;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;

}

#pic-1,
#pic-2,
#pic-3 {
    width: 50%;
}

p.product-1,
p.product-2,
p.product-3 {
    text-align: justify;
}

